profile = default
version = 0.27.0

margin-check = true
extension-indent = 4
function-indent = 4
type-decl-indent = 4
let-binding-indent = 4
indicate-nested-or-patterns = space
indicate-multiline-delimiters = closing-on-separate-line
